<!DOCTYPE>
<html>
	<head><title>Flask with Jinja</title></head>
	<body>
		<ul>
			<li><img src="{{ url_for('static',filename='ee.jpg') }}"></li>
			{# This is a comment block.We will set some variables in the jinja template. #}
			{% set name= "Zue Zue Myat Maw" %}
			{% set user_name = "ZueZueMyatMaw2261997" %}
			<li>{{ name }}</li>
			<li><a href="https://github.com/{{user_name}}">GITHUB</a></li>
			<li><a href="https://{{user_name}}.herokuapp.com">HEROKU</a></li>
		</ul>
	</body>
</html>


			
